body {
    background-color: black !important;
    background-image: url();
}

.block_item {
    
    padding: 50px;
    font-size: 50px;
    color: rgb(126, 163, 124);
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.colona{
    margin: 0px;
}

.row_colona {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-control {
    background-color: rgb(126, 163, 124) !important;
}

.form-control_message {
    width: 400px;
    height: 200px;
    background-color: black;
    font-size: 16px;
}


#text {
    background-color: rgb(126, 163, 124);
    color: black;
}

h3 {
    margin: 0;
    text-align: center;
}

.pirveli3 {
display: flex;
flex-direction: column;
}

.contactme {
    padding: 0;
}